.box1 {
    height: 80px;
    width: 100%;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: blue;
    position: fixed;
     font-size: 70px;
     color: gold;
     font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
h1 {
    font-size: 90px;
    color: gold;
}
img {
    border-radius: 1000px;
    width: 300px;
    height: 300px;
    border-width: 100px;
    border-color: red;
}
  #nameDisplay {
    font-size: 50px;
    font-weight: bold;
    margin-top: 40px;
     font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  }
h1 {
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.box {
  width: 100%;
  height: 400px;
  background-color: blue;
  border-radius: 40px;
}
#nav {
  width: 300px;
  height: 60px;
  border-radius: 40px;
  background-color: gold;
  font-size: 40px;
  color: blue;
   font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
h2 {
  font-size: 90px;
  color: blue;
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
#yy {
  font-size: 30px;
  color: gold;
}
.box2 {
      height: 50px;
    width: 100%;
    top: 70px;
    right: 0px;
    left: 0px;
    background-color: blue;
    position: fixed;
    font-size: 40px; 
     color: gold;
     font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
 .scroll-container {
      display: flex;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      gap: 10px;
      padding: 10px;
      border: 2px solid gold;
      background-color: blue;
      border-radius: 40px;
    }

    .scroll-container img {
      scroll-snap-align: start;
      flex-shrink: 0;
      width: 100%;
      max-width: 600px;
      height: auto;
      border-radius: 30px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    .we {
       font-size: 50px;
       color: blue;
       font-family: "Smooch Sans", sans-serif;
       font-optical-sizing: auto;
       font-style: normal;
    }
    .ww {
       font-size: 60px;
       color: blue;
       font-family: "Smooch Sans", sans-serif;
       font-optical-sizing: auto;
       font-style: normal;
       font-weight: bold;
    }