.upper {
    height: 10%;
    width: 100%;
    background-color: gold;
    font-size: 60px; 
    position: fixed;
    top: 0%;
    left: 0%;
    color: blue;
    font-weight: bold;
}

.plat {
    color: blue;
    font-size: 5vw;
    top: 5%;
    border: none;
    font-weight: bold;
}

#logo {
    border-radius: 50%;
    position: relative; 
    bottom: 15%;
}

body {
    background-color: blue;
}

#codeInput {
    height: 10%;
    width: 94%;
    background-color: gold;
    border-radius: 30px;
    color: blue;
    font-size: 70px;
        font-family: "Alumni Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
   text-align: center;
}

#bb {
    width: 15%;
    height: 10%;
    border-radius: 20px;
    font-size: 4vw;
    background-color: gold;
    color: blue;
    border: none;
    font-family: "Alumni Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
}

#gg {
    color: gold;
}
body {
    
  font-family: "Alumni Sans SC", sans-serif;
  font-optical-sizing: auto;

}


/* Mobile Responsive */
@media (max-width: 768px) {
    body {
        font-size: 16px;
    }
    nav, .nav {
        flex-direction: column;
        text-align: center;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .container, .content, .cards {
        width: 100%;
        padding: 10px;
    }
}
